
.container-login, .container-registr
{
    margin: 0;
    padding: 0;
}

#panel-login, #panel-registr{
    background-color: #222;
    border: 4px double #4b0000;
}

#logo {
    font-size: 36px;
    font-family:coolvetica;
    color: white;
    width: 115px;

}

#title-login, #title-registr
{
    color: white;
}

#nav{
    background-color: #222;
}


.error-login, .error-registr{
    margin-left: 5px;
    color: #b5b5b5;
    text-shadow: -2px 2px 1px #4b0000 ;
}
