

<header class="image-bg-fluid-height"></header>
<section ng-show="isUserFound">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-0 col-lg-4 col-lg-offset-3 col-md-6 col-sm-offset-3 col-sm-6"
                 align="center">
                <img class="img-responsive img-center user-avatar"
                     ng-src="{{user.avatar}}"
                     alt="" width="100%"
                     height="200">
            </div>
            <div class="col-lg-8 col-md-12">
                <h2 align="center"
                    class="section-heading user-info">
                    Welcome, {{user.username}}
                </h2>
                <p align="center"
                   class="lead section-lead user-info">
                    {{user.email}}
                </p>
            </div>
        </div>
    </div>
</section>
<hr>

<section ng-show="isUserFound">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12"
                 align="center"
                 ng-show="role == 'owner'">
                <div class="flip-container"
                     ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <div class="flipping change-user-info-front"
                                 ng-click="changeUserInfo()" >
                                Edit your profile
                            </div>
                        </div>
                        <div class="back">
                            <div class="flipping change-user-info-back"
                                 ng-click="changeUserInfo()" >
                                Edit your profile
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12"
                 align="center">
                <div class="flip-container"
                     ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <div class="flipping show-gallery-front"
                                 ng-click="openUserGallery()">
                                Show user's comics
                            </div>
                        </div>
                        <div class="back">
                            <div class="flipping show-gallery-back"
                                 ng-click="openUserGallery()">
                                Show user's comics
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12"
                 align="center"
                 ng-show="role == 'owner'">
                <div class="flip-container"
                     ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <div class="flipping create-new-comics-front"
                                 ng-click="createNewComics()" >
                                Create new comics
                            </div>
                        </div>
                        <div class="back">
                            <div class="flipping create-new-comics-back"
                                 ng-click="createNewComics()" >
                                Create new comics
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12"
                 align="center"
                 ng-show="role != 'owner'">
                <div class="flip-container"
                     ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <a href="#gallery">
                                <div class="flipping create-new-comics-front"  >
                                    Back to gallery
                                </div>
                            </a>
                        </div>
                        <div class="back">
                            <a href="#gallery">
                                <div class="flipping create-new-comics-back" >
                                    Back to gallery
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12"
                 align="center"
                 ng-show="role != 'owner'">
                <div class="flip-container"
                     ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <a href="#">
                                <div class="flipping change-user-info-front" >
                                    Back to main
                                </div>
                            </a>
                        </div>
                        <div class="back">
                            <a href="#/">
                                <div class="flipping change-user-info-back" >
                                    Back to main
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<div class="animate-gallery"
     ng-show="showGallery">
    <h2 align="center"
        class="section-heading user-info">
        Gallery
    </h2>
    <div class="comics-group">
        <ul class="list-group">
            <div ng-repeat="elem in comics">
                <div class="container">
                    <div class="row">
                        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-group-item">
                            <div class="comics-group-inner"
                                 ng-style="{ 'background-image': 'url(' + elem.comicsCover + ')' }">
                            </div>
                            <img class="edit-comics-pen"
                                 src="assets/images/settings.png"
                                 ng-click="editComics(elem)"
                                 width="40px" height="40px"
                                 ng-show="role == 'owner'">
                            <img class="delete-comics-basket"
                                 src="assets/images/reject-512.png"
                                 ng-click="deleteComics(elem.comicsId)"
                                 width="40px" height="40px"
                                 ng-show="role == 'owner'">
                            <div class="comics-group-item">
                                <div class="comics-group-item-content">
                                    <h3>
                                        <span class="comicsName">
                                            {{elem.comicsName}}
                                        </span>
                                    </h3>
                                    <a class="auth-name-reference"
                                       href="#/account/{{elem.authorId}}">
                                        <h4>
                                            {{elem.authorName}}
                                        </h4>
                                    </a>
                                    <h4>
                                        {{elem.comicsDate}}
                                    </h4>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>
<hr style="position: relative; top: 200px; border-top: 1px solid #141414">