<header class="image-bg-fluid-height"></header>
<section ng-show="isUserFound">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-responsive img-center user-avatar" ng-src="{{user.avatar}}" alt="" max-width="200" max-height="200">
            </div>
            <p class="col-lg-8 col-md-12">
                <h2 align="center" class="section-heading user-info">Welcome, {{user.username}}</h2>
                <p align="center" class="lead section-lead user-info">{{user.email}}</p>
                <p align="center">
                    <img class="change-user-info" width="80" heigth="80" src="/assets/images/settings.png" ng-click="changeUserInfo()" title="Change your Information" ng-show="role == 'owner'"/>
                    <img class="show-gallery" width="80" heigth="80" src="/assets/images/photo.jpg" title="Show your gallery"/>
                    <img class="create-new-comics" width="80" heigth="80" src="/assets/images/capA.png" title="Create new comics" ng-show="role == 'owner'"/>
                </p>

               <!-- <button ng-show="role == 'guest'">Something</button>-->
            </div>
        </div>
    </div>
</section>

<section ng-show="!isUserFound">
        <div class="col-lg-8 col-md-12">
            <h2 align="center" class="section-heading user-info">Sorry, user is not available :(</h2>
        </div>
</section>
<!--<button ng-click="showFollowers = !showFollowers">Toggle!</button>
<div class="box on animate-followers" ng-show="showFollowers">On</div>
-->