<div class="container-auth">
    <div  id="panel-auth">
        <div class="panel-body">
            <h2 id="title-auth">Account settings</h2>
            <form method="post">

                <div class="form-group">
                    <div class="change-user-avatar">
                        <img  id="currentAvatar" class="img-responsive img-center" ng-click="openFileDialog('inputAvatar')"  ng-src="{{currentUser.avatar}}" max-width="200" max-height="200"/>
                        <img class="img-cancel"  ng-click="cancelImageUpload(currentUser.avatar, 'currentAvatar')" src="assets/images/cancel.png" />
                    </div>
                    <input id="inputAvatar" class="input-user-avatar" type="file" onchange="angular.element(this).scope().previewImage(this, 'currentAvatar', 'previewFile')" ng-model="previewFile"
                           ngf-pattern="'image/*'" accept="image/*" />
                </div>

                <div class="form-group">
                    <input type="text" ng-model="username"  class="form-control" placeholder="{{currentUser.username}}">
                </div>
                <hr/>
                <div class="form-group">
                    <input type="email"  class="form-control" placeholder="{{currentUser.email}}" ng-model="email">
                </div>
                <hr/>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Previous password" ng-model="previousPassword"  min="4" max="99" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="password" min="4" max="99" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm password" ng-model="confirmPassword" min="4" max="99" autocomplete="off">
                </div>
                <button type="submit" class="btn-auth" ng-disabled="buttonDisabled"  ng-click="changeUserInfo()">Change</button>
                <span class="error-auth">{{response}}</span>
            </form>
        </div>
    </div>
</div>
