
<div class="parallax-window">
    <div class="site-greeting-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                    <div class="site-greeting">
                        Welcome to Comics Generator!
                    </div>
                    <div class="site-greeting-comment">
                        Choose one of the following steps to start.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="menu-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6  col-xs-6">
                <div class="low-menu-item">
                    <div class="thumbnail low-menu-item-image1" ng-click="popRegistrationDialog()"></div>
                    <div class="site-greeting-comment">
                        Sign Up today
                    </div>
                    <div class="low-menu-item-comment">
                        Join our team and become one of the comics creators!
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-6">
                <div class="low-menu-item">
                    <div class="thumbnail low-menu-item-image2" ng-click="popAuthorizationDialog()">
                    </div>
                    <div class="site-greeting-comment">
                        Sign in now
                    </div>
                    <div class="low-menu-item-comment">
                        Get to work logging into your account
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-0 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                <div class="low-menu-item">
                    <div class="thumbnail low-menu-item-image3">
                    </div>
                    <div class="site-greeting-comment">
                        Browse the gallery
                    </div>
                    <div class="low-menu-item-comment">
                    Do not miss the chance to read other comics
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
