
<div class="parallax-window">
    <div class="site-greeting-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                    <div class="site-greeting">
                        Welcome to Comics Generator!
                    </div>
                    <div class="site-greeting-comment">
                        Choose one of the following steps to start.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="menu-content">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-8">
                <h2>
                    What is this?
                </h2>
                <p>This project was created as test MEAN-stack application and as a course project.
                    This site was designed to create comics. All necessary instructions can be found on the website.
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact me</h2>
                <address>
                    <strong>Anastasiya Udot</strong>
                    <br>BSUIR
                    <br>2016
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>...
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">anastasiya.udot@gmail.com</a>
                </address>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4" ng-show="!loggedIn">
                <img class="img-circle img-responsive img-center "
                     src="https://res.cloudinary.com/dq83k7kbp/image/upload/c_scale,h_300,w_300/v1479486133/36519_ke79zp.jpg"
                     alt="">
                <h2 class="low-menu-reference"
                    align="center"
                    ng-click="popRegistrationDialog()">
                    Sign Up today
                </h2>
                <p align="center">
                    Join our team and become one of the comics creators!
                </p>
            </div>
            <div class="col-sm-4"
                 ng-show="!loggedIn">
                <img class="img-circle img-responsive img-center"
                     src="https://res.cloudinary.com/dq83k7kbp/image/upload/c_scale,h_300,w_300/v1479486137/36520_wqcl6v.jpg"
                     alt="">
                <h2 class="low-menu-reference"
                    align="center"
                    ng-click="popAuthorizationDialog()">
                    Sign in now
                </h2>
                <p align="center">
                    Get to work logging into your account
                </p>
            </div>
            <div class="col-sm-4" ng-show="loggedIn">
                <img class="img-circle img-responsive img-center"
                     src="https://res.cloudinary.com/dq83k7kbp/image/upload/c_scale,h_300,w_300/v1479486137/36520_wqcl6v.jpg"
                     alt="">
                <h2 class="low-menu-reference"
                    align="center"
                    href="#/">
                    Welcome to site
                </h2>
                <p align="center">
                    Thanks for joining to us
                </p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center"
                     src="https://res.cloudinary.com/dq83k7kbp/image/upload/c_scale,h_300,w_300/v1479486141/thumb-1920-32154_hzomqd.jpg"
                     alt="">
                <a class="low-menu-reference"
                   align="center"
                   href="#gallery">
                    <h2>
                        Browse the gallery
                    </h2>
                </a>
                <p align="center">
                    Do not miss the chance to read other comics
                </p>
            </div>
            <div class="col-sm-4" ng-show="loggedIn">
                <img class="img-circle img-responsive img-center "
                     src="https://res.cloudinary.com/dq83k7kbp/image/upload/c_scale,h_300,w_300/v1479486133/36519_ke79zp.jpg"
                     alt="">
                <a class="low-menu-reference"
                   align="center"
                   href="#account/{{userId}}">
                    <h2>
                        Visit your account
                    </h2>
                </a>
                <p align="center">
                    View your profile one more time before you start!
                </p>
            </div>
        </div>
        <hr>
    </div>
</div>