
                <div class="container-registr">
                    <div id="panel-registr">
                        <div class="panel-body">
                            <h2 id="title-registr">Sign up</h2>
                            <form method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name" ng-model="registrUsername" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control"  placeholder="Enter email" ng-model="registrEmail" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"  placeholder="Password" ng-model="registrPassword" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password" ng-model="registrConfirm" required>
                                </div>
                                <button type="register" class="btn btn-default" ng-click="sendRegistrData()">Register</button>
                                <span class="error-registr">{{responseRegistr}}</span>
                            </form>
                        </div>
                    </div>
                </div>
