<div class="container-auth">
    <div  id="panel-auth">
        <div class="panel-body">
            <h2 id="title-auth">New password</h2>
            <form method="post">
                <div class="form-group">
                    <input type="password"  class="form-control" placeholder="Password" ng-model="password" required>
                </div>
                <div class="form-group">
                    <input type="password"  class="form-control" placeholder="Confirm password" ng-model="confirmedPassword" required>
                </div>
                <button type="submit" class="btn-auth" ng-click="sendNewPassData()">Login</button>
                <span class="error-auth">{{response}}</span>
            </form>
        </div>
    </div>
</div>