<div class="container-auth">
    <div  id="panel-auth">
        <div class="panel-body">
            <h2 id="title-auth">
                Do you want to delete {{item}}?
            </h2>
                <form method="post" style="padding-top: 40px;">
                     <span>

                         <button class="btn-auth"
                                 style="width:70px; margin-left: 20%"
                                 ng-click="confirm()">
                             Ok
                         </button>
                         <button class="btn-auth"
                                 style="width:70px; margin-left: 20%"
                                 ng-click="cancel()">
                             Cancel
                         </button>

                     </span>
                </form>
        </div>
    </div>
</div>